*, *:before, *:after {
    box-sizing: border-box;
}

p {
    font-size: 80px;
    font-style: italic;
}

h1 {
    color: rgb(47, 34, 71);
    font-size: 50px;
}

input[type=text] {
    padding: 10px;
    margin: 10px 0;
}

input[type=password] {
    padding: 10px;
    margin: 10px 0;
}

.rounded-input {
    padding: 10px;
    border-radius: 10px;
}